{% extends 'base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<!-- Modal -->
<div class="modal fade" id="modal-create-history" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1> Histori Jumlah Mahasiswa Baru Tahunan </h1>
        {% if histories|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tahun</th>
                        <th>Jumlah Mahasiswa</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in histories %}
                    <tr>
                        <td>{{ history.id }}</td>
                        <td>{{ history.year }}</td>
                        <td>{{ history.student }}</td>
                        <td>
                            <a href="#" class="btn btn-warning">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="my-3">
            <p class="">Maaf data histori tidak ditemukan. <a class="link-primary" data-bs-toggle="modal" data-bs-target="#modal-create-history" role="button">Buat histori</a></p>
        </div>
        {% endif %}
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        Sistem Prediksi PMB FKSP © 2024
    </footer>
  </div>
</main>
{% endblock %}
