{% for category, alert_class in [("error", "alert-danger"), ("warning", "alert-warning"), ("info", "alert-info"), ("success", "alert-success"), ("primary", "alert-primary"), ("primary", "alert-primary")] %}
    {% with messages = get_flashed_messages(category_filter=[category]) %}
    {% if messages %}
    <div class="alert {{ alert_class }} alert-dismissible fade show mt-1 mb-1" role="alert">
      <ul class="mb-0">
        {%- for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
{% endfor %}

