<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="" width="40" src="{{ url_for('static', filename='/images/logo_pmb_fksp.png') }}" alt="logo">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{url_for('home.index')}}" class="nav-link px-2">Home</a></li>
            <li><a href="{{url_for('history.index')}}" class="nav-link px-2">History</a></li>
            <li><a href="{{ url_for('prediction.index') }}" class="nav-link px-2">Prediction</a></li>
        </ul>

        <div class="col-md-3 text-end">
            {% if g.user %}
                <a class="btn border-0">{{ g.user.name }}</a>
                <a href="{{url_for('auth.logout')}}" class="btn btn-primary" role="button">Log Out</a>
            {% else %}
                <a href="{{url_for('auth.login')}}" class="btn btn-outline-primary me-2" role="button">Login</a>
                <a href="{{url_for('auth.register')}}" class="btn btn-primary" role="button">Sign-up</a>
            {% endif %}
        </div>
    </header>
</div>
